services:
  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard_container
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000 # ID host user
      - PGID=1000 # ID group
      - TZ=${TZ}
      - SERVERURL=${SERVERURL}
      - SERVERPORT=${SERVERPORT}
      - PEERS=${PEERS}
      - PEERDNS=${PEERDNS}
      - INTERNAL_SUBNET=${WG_SUBNET}
    volumes:
      - ./wgdata:/config
      - ./data:/data:ro
      - ./wgdata/custom-cont-init.d/90-setup-dnat.sh:/etc/cont-init.d/90-setup-dnat.sh:ro
    ports:
      - "${SERVERPORT}:${SERVERPORT}/udp"
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
  sagsins-core:
    image: ubuntu:22.04
    container_name: sagsins-core
    privileged: true
    cap_add: ["NET_ADMIN"]
    environment:
      - TZ=${TZ}
    volumes:
      - ./data:/data
      - ./core:/core
    command: ["bash", "-lc", "/core/start.sh"]
    restart: unless-stopped